<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you're {{ compliment }}!

    <div>
    <form action="/game">
      Would you like to play a game?
    
      <input type="radio" name="yes-or-no" value="yes" id="answer-yes">
      <label for="answer-yes">Yes</label>
    
      <input type="radio" name="yes-or-no" value="no" id="answer-no">
      <label for="answer-no">No</label>
 
      <input type="submit">
    </form>
    
    </div>

</body>
</html>