<!doctype html>
<html>
<head>
  <title>MadLibs Game</title>
</head>
<body>
    <h1>MadLibs Game!</h1>

    <div>
    <form action="/madlib">
        <div>
        <label for="user-person">Choose a person: </label>
        <input type="text" name="person" id="user-person">
        </div>
        
        <div>
        
        <label for="color-select">Choose a color: </label>
        <select name="color" id="color-select">
            <option value="hot-pink">hot pink</option>
            <option value="neon-yellow">neon yellow</option>
            <option value="lime-green">lime green</option>
          </select>
        </div>

        <div>
            <label for="pick-noun">Choose a noun: </label>
            <input type="text" name="noun" id="pick-noun">
        </div>
    
        <div>
            <label for="select-adjective">Choose an adjective: </label>
            <input type="text" name="adjective" id="select-adjective">
        </div>
        
        <div>
            <input type="submit">
        </div>
          
    
    
    </form>
    </div>
    

</body>
</html>